* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
    margin: 0;
    background-color: #fafcf5;
    height: 100%;
}

.header {
  overflow: hidden;
  background-color: #fe5f55;
  color: #fafcf5;  
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main {
    background-color: #fafcf5;
    color: #171717;
    padding: 2em;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.footer {
  background-color: #fe5f55;
  color: #fafcf5; 
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  align-content: center;
}

table.sortable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fe5f55;
  color: #fafcf5;
}
table.sortable td, table.sortable th {
  border: 1px solid #ddd;
  padding: 8px;
}
table.sortable tr:nth-child(even){background-color: #f2f2f2;}
table.sortable tr:hover {cursor: pointer; background-color: #ddd;}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
