* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

#wrapper {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body {
    background-color: #242527;
    color: #FFFFFF;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.0em;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    line-height: 10px;
}

h2 {
    color: #D1D1D1;
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.875em;
    font-weight: bold;
    line-height: 10px;
}

p {
    font-size: 0.875em;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 2px solid #7559a6;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 2px solid #7559a6;
}

ul.a {
    list-style-type: disc;
}

.header {
    background-color: #4B4C4E;
    float: right;
    width: 66%;
    text-align: center;
    padding: 12px 0px 12px 0px;
    margin-left: 0px;
    padding-right: auto;
}

.corner {
    float: left;
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 13px;
}

.footer {
    background-color: #4B4C4E;
    color: #D1D1D1;
    font-size: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px 15px 0px 15px;
    width: 100%;
    text-align: center;
}

.column {
    float: left;
    height: 100%;
    padding: 0px 15px 0px 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.content {
    width: 66%;
    margin-left: 1%;
    border-left: 2px solid #4B4C4E;
    border-right: 2px solid #4B4C4E;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 18px 22px;
    margin-bottom: 2px;
    background-color: #7559a6;
}

.menu li:hover {
    background-color: #8E77B6;
}
